* {
  max-width: 1920px;
  margin: 0 auto;
}

header {
  background-image: url(assets/header.png);
  max-width: 1920px;
  width: 100%;
}

body {
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.menu {
  color: #FFF;
  font-family: Montserrat;
  font-size: 26px;
}

nav {
  display: flex;
  justify-content: center;
  width: 80%;
  align-items: center;

}

.slogan {
  background-image: url(assets/slogan.png);
  height: 818px;

}

.text1 {
  color: #FFF;

  text-align: center;
  font-family: Montserrat;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text2 {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.slog {
  display: flex;
  width: 40%;
  flex-direction: column;
  margin-left: 6%;
  padding-top: 8%;
}

.ish {
  display: flex;
  align-items: center;
  width: 80%;
  margin-top: 4%;
}

.dezt {
  margin-left: 2%;
}

.text3 {
  color: #0C0C0C;

  font-family: Montserrat;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text4 {
  color: #000;

  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  /* 140% */
}

.text5 {
  color: #000;

  text-align: center;
  font-family: Montserrat;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.pro {
  width: 80%;
  margin-top: 4%;
}

.blo {
  display: flex;
  margin-top: 2%;
  margin-bottom: 2%;
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column
}

.text6 {
  color: #000;

  text-align: center;
  font-family: Montserrat;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.news {
  width: 80%;
  margin: 0 auto;
  margin-top: 4%;
}

.news_block3 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2%;
  gap: 30px;
}

.news_block {
  margin: 1%;
}


.text_mini {
  color: #595959;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text4_bold {
  color: #000;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text_bold_sin {
  color: #2E3191;
  font-family: Montserrat;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.dostij {
  width: 80%;
  margin: 0 auto;
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  margin-bottom: 2%;
}

.diploms {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.dos {
  margin: 0.2% 0;
}

.about {
  width: 80%;
  height: 550px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.text_about {
  display: flex;
  align-items: center;
  margin: 2%;
}

.about_img {
  width: 45%;
}

.about_img1 {
  width: 100%;
}

.about_text {
  width: 55%;
}

.img {
  width: 100px;
  height: 100px;
  margin-right: 3%;
}

.number {
  width: 80%;
  /* margin: 0 auto; */
}

.numbers {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 3%;
  padding-bottom: 3%;
}
.one{
  display: flex;
  align-items: baseline;
  width: 100%;
  text-align: left;
}
.group{
  width: 24%;
  display: flex;
  flex-direction: column;
  
}


footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #E0F6FF;
  height: 370px;
  padding: 3%;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  margin: 3%;
  height: 300px;
  width: 350px;
}

.title_footer {
  color: #2E3191;
  font-family: Montserrat;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.footer_text {
  color: #000;
  font-family: Montserrat;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.icon2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}